<!-- css from imported libraries -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.theme.default.css">

<!-- custom css -->
<link rel="stylesheet" href="css/main.css">