<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="PropertyFinder | Dubai, UAE">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="propertyfinder assignment">
<meta name="author" content="Mohammad Atif">