<!-- @if devBuild -->
<!-- @endif -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

<script src="js/pf_carousel.js"></script>
<script src="js/main.js"></script>